.wrapper {
    display: flex;
    flex-direction: column;
    background-color: rgba(106, 152, 60, 0.57);
    background-image: radial-gradient(circle, rgba(228, 255, 176, 0.35) 18% , rgba(106, 152, 60, 0.17) 66%);
    height: 280px;
    padding: 40px;
    justify-content: space-between;
    flex-basis: 50%;
    border-radius: 12px;
    margin: 0 20px;
}


.top > p {
    color: #6A983C;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.top > h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #151515;
}

.button {
    cursor: pointer;
    border: 2px solid #46760A;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: all 300ms ease-in-out;
}

.button:hover{
    background: #46760A;
    color: #fff;
}

.button:hover > p > svg{
    color: #fff;
}
.button > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    padding: 12px 15px;
}

.button > p > svg {
    color: #46760A;
}


@media screen and (max-width: 910px) {
 .wrapper{
     margin: 20px 0;
     flex-basis: 100%;
 }
}