.container {
    width: 100%;
}
.wrapper {
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

.left {
    flex-basis: 30%;
}


.right {
    flex-basis: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 32px;
}

@media (min-width: 651px) and (max-width: 910px) {
    .left {
        order: 2;
        flex-basis: 100%;
    }
    .right {
        gap: 30px;
        order: 1;
        flex-basis: 100%;
    }
    .wrapper{
        padding: 0;
    }
}

@media screen and (max-width: 650px) {
    .left {
        order: 2;
        flex-basis: 100%;
    }
    .right {
        order: 1;
        flex-basis: 100%;
        flex-wrap: wrap;
    }
    .wrapper{
        padding: 0;
    }
}