@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Poppins:wght@500;600;700&display=swap');
/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Bebas Neue', cursive;*/
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

html, body, #root {
    height: 100%;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: black;
}
.dropdown-item{
    width: inherit !important;
}
#input-group-dropdown-1 {
    color: #151515 !important;
    font-weight: bold;
    border: none;
    padding: 10px;
    border-radius: 12px;

}

#input-group-dropdown-1:after {
    color: #6A983C !important;
    margin: -2px 10px !important;

}

#navSearchInput {
    color: #A9A9A9;
    background: #f9f9f9;
    border: none;
    font-size: 14px;
    padding: 10px;
    border-radius: 12px;
}

#navSearchInput:focus {
    box-shadow: none;
}

.dropdown-toggle {
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.dropdown-toggle:after {
    color: #6A983C !important;
    margin: -2px 5px !important;
}
.dropdown-toggle:focus {
    box-shadow: none;
}